@import "compass/css3/opacity";

#index{
	.on_the_wall{
		margin: 0px 20px;
		height: 440px;
		background-color: $black;
		overflow: hidden;
		position: relative;
		text-decoration: none;
		display: block;
		.ctrls{
			position: absolute;
			width: 60px;
			height: 70px;
			background: rgba(255, 255, 255, .36);
			right: 20px;
			bottom: 20px;
			z-index: 11;
			.viewport{
				top: 0px;
				right: 0px;
				left: 0px;
				background-color: #FFF;
				position: absolute;
			}
		}
		.image{
			position: absolute;
			left: 0px;
			right: 0px;
			top: -200px;
			z-index: 1;
			@include opacity(0);
			img{
				width: 100%;
			}
		}
		.type{
			position: absolute;
			z-index: 10;
			left: 20px;
			right: 20px;
			top: 50%;
			margin-top: -40px;
			color: #FFF;
			text-align: center;
			h1{
				display: inline-block;
				border: 6px solid #FFF;
				padding: 10px;
				font: $bold_weight 50px/50px $bold;
			}
			.mdash{
				width: 40px;
				height: 1px;
				display: inline-block;
				overflow: hidden;
				text-indent: -300px;
				background-color: #FFF;
				position: relative;
				top: -3px;
			}
		}
		.mouse_trap{
			position: relative;
			z-index: 20;
			left: 0px;
			right: 0px;
			height: 500px;
			bottom: 0px;
			display: block;
			zoom: 1;
			// IE hack!
			background-color: rgba(255, 255, 255, .001);
		}
		@media screen and (max-width: 636px) {
			height: auto !important;
			.ctrls,
			.mouse_trap{
				display: none;
			}
			.type{
				top: 40px;
				margin-top: 0px;
			}
			.image{
				position: relative;
				top: auto !important;
				left: auto !important;
				img{
					width: auto;
					max-width: 100%;
				}
			}
		}
	}
	.promo_info{
		p{
			line-height: 20px;
			margin: 0px;
			padding: 20px 0px;
			font-size: 18px;
			a{
				text-decoration: none;
				border-bottom: 1px solid $black;
				color: $black;
				&:hover{
					border-color: transparent;
				}
			}
			.what{
				color: $red;
				display: inline-block;
				border: 1px solid $red;
				padding: 0px 3px 0px 5px;
				position: relative;
				top: -2px;
				font: 400 12px/18px $sans;
				margin-right: 4px;
				text-decoration: none;
				&:hover{
					color: $black;
					border-color: $black;
				}
			}
		}
	}
	.promo_border,
	.events_border{
		margin: 0px 20px 60px;
		border-top: 1px solid #EFEFEF;
	}
	.events_border{
		margin: 0px 20px;
	}
	.off_the_wall{
		margin: 0px 20px;
		padding: 60px 0px;
		position: relative;
		a.link{
			display: block;
			position: absolute;
			z-index: 10;
			top: 0px;
			right: 0px;
			bottom: 0px;
			left: 0px;
			text-decoration: none;
		}
		blockquote{
			font: $bold_weight 51px/52px $bold;
			margin-bottom: 60px;
		}
		.ref{
			font: 400 20px/26px $sans;
			color: #AAA;
			p{
				margin-bottom: 0px;
			}
		}
		.cite{
			font: 400 24px/26px $sans;
			color: #FFF;
		}
		@media screen and (max-width: 766px) {
			padding: 20px 0px;
			blockquote{
				margin-bottom: 30px;
				font-size: 40px;
				line-height: 40px;
			}
		}
	}
	#events{
		.what{
			color: $black;
			display: inline-block;
			border: 1px solid $black;
			padding: 0px 3px 0px 5px;
			position: relative;
			top: -2px;
			font: 400 12px/18px $sans;
			margin-right: 4px;
			text-decoration: none;
		}
	}
}

#homepage_mobile_exhibition{
	margin-top: 40px;
	display: none;
	text-align: center;
	@media screen and (max-width: 766px) {
		display: block;
	}
}