@import "compass/css3/border-radius";

.off_the_wall{
	background-color: $black;
	color: #FFF;
	.intro{
		color: $green;
		strong{
			color: #FFF;
		}
	}
	.art_news_from_elsewhere{
		padding-bottom: 50px;
		.news_item{
			position: relative;
			.link_icon{
				display: block;
				position: absolute;
				width: 60px;
				height: 60px;
				background-color: #000;
				top: 0px;
				left: 0px;
				@include border-radius(30px, 30px);
				.icon{
					width: 15px;
					height: 14px;
					@include background-sprite('base','icon-new-window');
					display: block;
					position: absolute;
					left: 50%;
					top: 50%;
					margin-left: -7px;
					margin-top: -7px;
				}
			}
			h2, p{
				margin-left: 80px;
			}
			h2{
				font: $bold_weight 30px/30px $bold;
				margin-bottom: 4px;
				a{
					color: #FFF;
				}
			}
			p{
				color: $gray;
			}
		}
	}
	.past_issues{
		padding-bottom: 50px;
		h3,h4{
			margin: 0px;
			font: $bold_weight 30px/30px $bold;
		}
		h3{
			color: $purple;
			a{
				color: $purple;
			}
		}
		h4{
			color: #FFF;
			a{
				color: #FFF;
			}
		}
		ul{
			margin: 10px 0px 50px 0px;
			padding: 0px;
			li{
				list-style-type: none;
				color: $gray;
				margin-bottom: 10px;
				a{
					color: #FFF;
				}
			}
		}
	}
}

.article_preview{
	padding-bottom: 80px;
	clear: left;
	h2{
		a{
			font: 500 40px/35px $bold;
			color: $black;
			text-decoration: none;
			.off_the_wall &{
				color: #FFF;
			}
			&:hover{
				text-decoration: underline;
			}
		}
	}
	p.byline{
		color: $gray;
		margin-bottom: 10px;
	}
	blockquote{
		font: 400 26px/28px $sans;
		/*font-style: italic;*/
	}
	.article_thumbnail {
		/*padding-bottom: 80px;
		width: 300px;
		float: left;
		padding-top: 5px;
		height: 150px; /* this is to cater for when there's no image loaded - which shouldn't happen in theory */
	}
}


.article_metadata{
	border: 1px solid $yellow;
	margin-bottom: 50px;
	position: relative;
	h3{
		color: $yellow;
	}
	.corner{
		position: absolute;
		right: -1px;
		top: -1px;
		border-top: 10px solid $black;
		border-right: 10px solid $black;
		border-left: 10px solid $yellow;
		border-bottom: 10px solid $yellow;
	}
	.content{
		padding: 20px;
	}
	ul.meta{
		padding: 0 0 30px 0;
		margin: 0;
		li{
			font: 400 20px/23px $sans;
			margin-bottom: 10px;
			position: relative;
			/*padding-left: 120px;*/
			list-style-type: none;
			.what{
				position: absolute;
				left: 0px;
				top: 4px;
				color: $yellow;
			}
			a{
				color: #FFF;
				&:hover{
					text-decoration: none;
				}
			}
			&.meta {
				padding-left: 120px;
			}
		}
	}
}

@media screen and (max-width: 1020px) {
	.off_the_wall{
		.art_news_from_elsewhere{
			.news_item{
				.link_icon{
					width: 42px;
					height: 42px;
					@include border-radius(21px, 21px);
				}
				h2, p{
					margin-left: 62px;
				}
			}
		}
	}
}